* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 0;
  margin: 0 0;
  font-size: 18px;
  min-width: 1440px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1240px;
  padding: 0 20px;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  display: inline-block;
  color: white;
  font-size: 20px;
  width: 200px;
  line-height: 18px;
  font-weight: bold;
  text-decoration: none;
  padding: 15px 0px;
  background-color: #8c30f5;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;
  height: 60px;
  opacity: 0.7;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  opacity: 0.85;
}

.btn:active {
  opacity: 1;
  padding-top: 16px;
  padding-bottom: 14px;
}

.main-header {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.main-header .big-circle {
  position: absolute;
  filter: blur(25px);
  opacity: 0.4;
  top: 220px;
  right: 10px;
}

.main-header .small-circle {
  position: absolute;
  filter: blur(25px);
  opacity: 0.4;
  top: 640px;
  right: 500px;
}

.main-logo {
  width: 720px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-logo .phone-number {
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav a {
  display: block;
  padding: 2px 2px 2px 2px;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.main-nav a:first-child {
  padding-left: 0px;
}

.main-nav a:last-child {
  padding-right: 0px;
}

.main-nav a:hover {
  color: darkgreen;
}

.main-nav a:active {
  color: #2da771;
}

.main-contract {
  padding-top: 160px;
  padding-bottom: 200px;
}

.main-contract h1 {
  display: block;
  width: 750px;
  font-size: 72px;
  line-height: 100px;
}

/* about us */

.about-us {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 170px;
}

.container-bg__about-us {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #f4f5f7 49.8%, white 50.2%);
}

.about-us__left h2 {
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 120px;
}

.about-us__right div {
  display: flex;
  padding-left: 60px;
  padding-right: 20px;
  width: 650px;
  background-color: #2da771;
  margin-bottom: 40px;
  min-height: 235px;
  border-radius: 22px;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  transition: background-color 0.3s ease;
}

.about-us__right div:last-child {
  margin-bottom: 0px;
}

.about-us__right img {
  display: block;
  margin-right: 60px;
}

.about-us__right h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
}

.about-us__right {
  position: relative;
}

.about-us__right span {
  vertical-align: middle;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 3px;
  transition: opacity 0.2s ease;
}

.about-values-dots {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  position: absolute;
  top: 470px;
  left: 270px;
}

.about-values-dots li {
  margin: 0;
  padding: 0;
  margin-right: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
  border: 2px solid white;
  opacity: 0.8;
}

.about-values-dots li:hover {
  background-color: rgba(211, 211, 211, 0.8);
}

.about-values-dots li.active {
  background-color: white;
  opacity: 1;
  pointer-events: none;
}

.numbers ul {
  list-style: none;
  padding-left: 15px;
}

.numbers li {
  position: relative;
}

.numbers li:before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  left: -14px;
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
}


/* Cooperation */


.cooperation {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  border-radius: 100px;
  background: linear-gradient(to bottom, rgba(45, 167, 113, 0.65) 1%, white 90%);
}

.cooperation h2 {
  text-align: center;
  margin: 0px;
  color: white;
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: bold;
}

.cooperation form {
  display: flex;
  margin: 0 auto;
  width: 605px;
  flex-wrap: wrap;

}

.cooperation input:not(:nth-child(8)) {
  width: 605px;
  outline: none;
  border: 3px solid #2da771;
  border-radius: 20px;
  margin-bottom: 35px;
  font-size: 24px;
  padding: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.cooperation input:not(:nth-child(8)):focus {
  border: 3px solid #157e51;
  transition: all 0.3s ease-in-out;
}

.coop-bottom {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  margin-top: 30px;
}

.cooperation input[type="file"] {
  display: none;
}

.cooperation label {
  width: 60px;
  height: 60px;
  border: 3px solid #2DA771;
  border-radius: 8px;
  text-align: center;
  padding-top: 15px;
  align-content: center;
  margin-right: 10px;
  transition: all 0.2s ease-in-out;
  background-color: white;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}


.cooperation label:hover {
  cursor: pointer;
  background-color: #2DA771;
}

.cooperation label:active {
  background-color: #19965F;
  border-color: #19965F;
}

.cooperation label:hover path {
  fill: white;
}

.cooperation label:active path {
  fill: white;
}

#custom-text {
  word-wrap: break-word;
  min-height: 50px;
  width: 120px;
  display: inline;
  align-self: center;
  font-family: sans-serif;
  color: #aaa;
  vertical-align: middle;
}


.cooperation input::placeholder {
  opacity: 0.4;
  font-weight: bold;
}

.appointment-form .btn {
  width: 200px;
  color: #2DA771;
  background-color: white;
  border: 3px solid #2DA771;
  border-radius: 8px;
  opacity: 1;
  padding: 0px;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-left: 40px;
}

.appointment-form .btn span {
  margin-right: 20px;
}

.appointment-form .btn:hover {
  background-color: #2DA771;
  color: white;
}

.appointment-form .btn:hover path {
  fill: white;
}

.appointment-form .btn:active path {
  fill: white;
}

.appointment-form .btn:active {
  border-color: #19965F;
  background-color: #19965F;
  color: white;
}

/* advantages */

.advantages {
  padding-top: 140px;
  padding-bottom: 80px;
}

.advantages h2 {
  font-size: 48px;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.advantages .advantages-items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.advantages .advantages__item {
  padding-top: 20px;
  width: 360px;
  text-align: center;
  margin-bottom: 70px;
  transition: all 0.2s ease-in-out;
  border-radius: 20px;
  min-height: 200px;
}

.advantages .advantages__item:hover {
  background-color: rgba(45, 167, 113, 0.07);
}

.advantages p {
  line-height: 36px;
  font-size: 22px;
  font-weight: bold;
  margin-top: 25px;
}

/* our-clients */

.our-clients {
  padding-top: 20px;
  padding-bottom: 30px;
}

.our-clients-bg {
  background-color: #F4F5F7;
}

.our-clients .our-clients-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 60px;
}

.our-clients h2 {
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 20px;
}

.our-clients p {
  text-align: center;
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.our-clients .our-clients__item {
  text-align: center;
  max-height: 100px;
  width: 190px;
  background-color: white;
  min-height: 100px;
  border-radius: 16px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.our-clients .our-clients__item:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.our-clients .our-clients__item img {
  vertical-align: middle;
}

/* reviews */

.reviews-bg {
  background-color: #F4F5F7;

}

.reviews {
  padding-top: 120px;
  position: relative;
  padding-bottom: 90px;
}

.reviews .reviews-bg__pct {
  display: block;
  opacity: 0.3;
  position: absolute;
  top: 60px;
  left: -63px;
  z-index: 10;
}

.reviews h2 {
  position: relative;
  display: block;
  margin-top: 0px;
  font-size: 48px;
  font-weight: bold;
  width: 480px;
  line-height: 64px;
  z-index: 11;
  margin-bottom: 100px;
}

.review {
  width: 1200px;
  display: flex;
}

.review .reviewer {
  display: block;
  width: 200px;
  align-self: flex-end;
  margin-bottom: 50px;
  font-size: 14px;
  color: #969BAB;
  padding-left: 20px;
  line-height: 24px;
}

.review .reviewer h3 {
  font-size: 18px;
  color: black;
  line-height: 20px;
  margin-bottom: 10px;
}


.review__item {
  width: 1000px;
  background-color: white;
  border-radius: 8px;
  padding: 40px 40px 40px 80px;
  margin-bottom: 50px;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
}

.review__item img {
  display: block;
  margin-bottom: 40px;
}

.review__item .review-txt {
  font-size: 18px;
  line-height: 32px;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.review__item .review-txt::before {
  width: 16px;
  height: 14px;
  display: block;
  position: absolute;
  left: -40px;
  content: "";
  background-image: url("img/quotes-mini.svg");
  opacity: 0.3;
}

.read-more-state {
  display: none;
}

.read-more-target {
  display: none;
}

.read-more-state:checked~.read-more-wrap .read-more-target {
  display: inline;
  font-size: inherit;
  opacity: 1;
}

.read-more-state~.read-more-trigger:before {
  content: 'Читать подробнее...';
}

.read-more-state:checked~.read-more-trigger:before {
  content: 'Скрыть';
}

.read-more-trigger {
  cursor: pointer;
  display: block;
  color: #2DA771;
  line-height: 40px;
  border-radius: 10px;
}

/* fulfillment */

.fulfillment {
  padding-top: 95px;
  padding-bottom: 95px;
}

.fulfillment h2 {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  line-height: 64px;
}

.fulfillment p {
  font-size: 18px;
  text-align: center;
  margin: 0;
  line-height: 32px;
}

.fulfillment-items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.fulfillment__item {
  width: 390px;
  margin-bottom: 90px;
}

.fulfillment__item:nth-child(2) {
  margin-right: 70px;
}

.fulfillment__item:nth-child(3) {
  width: 330px;
}

.fulfillment__item ul {
  list-style: none;
  padding: 0;
  padding-left: 5px;
  margin: 0;
}

.fulfillment__item ul li:before {
  content: "-";
  font-weight: bold;
  position: relative;
  left: -5px;
}

.fulfillment__item h3 {
  font-size: 20px;
  line-height: 40px;
  margin: 0;
}

.fulfillment__item:nth-child(5) h3 {
  color: #2DA771;
}

.fulfillment__item:nth-child(5) {
  width: 440px;
}

.fulfillment__item h4 {
  font-size: 16px;
  margin: 0;
}

.fulfillment__item span {
  font-size: 16px;
  line-height: 28px;
}

.fulfillment__item li {
  font-size: 16px;
  line-height: 28px;
}

.fulfillment-pct {
  width: 360px;
  text-align: center;
  align-self: center;
  transition: 0.5s;
}

.fulfillment-pct:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

/* contacts */

.contacts {
  padding-top: 50px;
  padding-bottom: 150px;
}

.contacts h2 {
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  text-align: center;
}

.contacts__item {
  background-image: url("img/contracts-bg.png");
  background-repeat: no-repeat;
  width: 789px;
  min-height: 490px;
  margin-top: 120px;
  position: relative;
  z-index: 50;
  margin-left: auto;
  margin-right: auto;
}

.contacts__item img {
  display: block;
  position: absolute;
  left: 204px;
}

.contacts-info {
  z-index: 55;
  padding-top: 50px;
}

.contacts-info h3,
h4 {
  font-size: 36px;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  color: white;
}

.contacts-info h3 {
  margin-top: 50px;
}

.contacts-info h4 {
  font-size: 24px;
}

.phone-email {
  display: flex;
  margin-top: 140px;
  padding-right: 20px;
  padding-left: 20px;
  justify-content: space-between;
  align-items: center;
}

.phone-email a {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.phone-email .contact-email a {
  display: block;
  margin-bottom: 10px;
}

/* footer */

.main-footer {
  background-color: black;
  min-height: 240px;
}

.copyrigh {
  color: white;
}

/* modal */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.overlay--open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
}

.body-wrapper--blurred {
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.modal-content {
  display: none;
  width: 520px;
  padding: 30px 80px;
  color: #000000;
  background: white;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  position: relative;
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.modal-content-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-content-close {
  position: absolute;
  top: -5px;
  right: -26px;
  width: 25px;
  height: 25px;
  font-size: 0px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;
  width: 23px;
  height: 3px;
  background-color: #ed2939;
  border-radius: 1px;
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  margin: 0;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  color: #5f5f5f;
}

.modal-content .form-user {
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
}

.modal-content .small-circle {
  display: block;
  position: absolute;
  top: 60px;
  right: 30px;
  filter: blur(22px);
  opacity: 0.5;
}

.form-user input[type="email"],
.form-user input[type="tel"] {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  padding-right: 40px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: white;
  border: 2px solid grey;
  outline: none;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

.form-user input::placeholder {
  opacity: 0.4;
  font-weight: bold;
}

.form-user input[type="email"]:focus,
.form-user input[type="tel"]:focus {
  border: 2px solid darkgreen;
}

.btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}