/* about us */

.container-bg__about-us {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to bottom, #f4f5f7 49.8%, white 50.2%);
}

.about-us {
  display: none;

  @media (min-width: 1170px) {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 170px;
  }


  &__left h2 {
    margin-top: 0px;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 120px;
  }

  &__right {
    position: relative;

    div {
      display: flex;
      padding-left: 60px;
      padding-right: 20px;
      width: 650px;
      background-color: #2da771;
      margin-bottom: 40px;
      min-height: 235px;
      border-radius: 22px;
      color: white;
      padding-top: 30px;
      padding-bottom: 20px;
      transition: background-color 0.3s ease;

      &:last-child {
        margin-bottom: 0px;
      }
    }

    img {
      display: block;
      margin-right: 60px;
    }

    h3 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }

    span {
      vertical-align: middle;
      text-transform: uppercase;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 3px;
      transition: opacity 0.2s ease;
    }
  }

  .about-values-dots {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    position: absolute;
    top: 470px;
    left: 270px;

    li {
      margin: 0;
      padding: 0;
      margin-right: 10px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      cursor: pointer;
      transition: all 0.15s ease-in-out;
      border: 2px solid white;
      opacity: 0.8;

      &:hover {
        background-color: rgba(211, 211, 211, 0.8);
      }

      &.active {
        background-color: white;
        opacity: 1;
        pointer-events: none;
      }

    }

  }

  .numbers {
    ul {
      list-style: none;
      padding-left: 15px;

      li {
        position: relative;

        &:before {
          content: "";
          display: block;
          position: absolute;
          top: 5px;
          left: -14px;
          width: 7px;
          height: 7px;
          background-color: white;
          border-radius: 50%;
        }
      }

    }
  }
}