* {
  box-sizing: border-box;
  font-family: "Sora", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0 0;
  margin: 0 0;
  font-size: 18px;
  min-width: 320px;
  position: relative;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  width: 100%;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 1240px) {
    width: 1240px;
    padding: 0 20px;
  }
}

.btn {
  width: 150px;
  font-size: 12px;
  padding: 15px 0px;
  opacity: 0.8;
  display: inline-block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  background-color: #8c30f5;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 10px;


  @media (min-width: 1170px) {
    font-size: 20px;
    width: 200px;
    line-height: 18px;
    padding: 15px 0px;
    height: 60px;
    opacity: 0.7;
    transition: opacity 0.2s ease-in-out;
  }
}

.btn:hover {
  opacity: 0.9;

  @media (min-width: 1170px) {
    opacity: 0.85;
  }
}

.btn:active {
  opacity: 1;

  @media (min-width: 1170px) {
    padding-top: 16px;
    padding-bottom: 14px;
  }
}