/* contacts */

.contacts {
  padding-top: 50px;
  padding-bottom: 180px;

  h2 {
    font-size: 48px;
    font-weight: bold;
    line-height: 64px;
    text-align: center;
  }

  .contacts__item {
    display: none;
    background-image: url("../img/contracts-bg.png");
    background-repeat: no-repeat;
    width: 792px;
    min-height: 490px;
    margin-top: 140px;
    position: relative;
    z-index: 50;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 1170px) {
      display: block;
    }

    img {
      display: block;
      position: absolute;
      left: 204px;
    }
  }

  .contacts-info {
    z-index: 55;
    padding-top: 50px;

    h3,
    h4 {
      font-size: 36px;
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
      color: white;
    }

    h3 {
      margin-top: 50px;
    }

    h4 {
      font-size: 24px;
    }
  }

  .phone-email {
    display: flex;
    margin-top: 140px;
    padding-right: 20px;
    padding-left: 20px;
    justify-content: space-between;
    align-items: center;

    a {
      color: white;
      font-size: 24px;
      font-weight: bold;
    }

    .contact-email {
      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}