/* contacts */

.contacts {
  padding-top: 0px;
  padding-bottom: 60px;

  @media (max-width: 360px) {
    padding-bottom: 0px;
  }

  @media (min-width: 1170px) {
    padding-top: 30px;
    padding-bottom: 200px;
  }

  h2 {
    font-size: 24px;
    font-weight: bold;
    line-height: 48px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;

    @media (min-width: 1170px) {
      font-size: 48px;
      line-height: 64px;
    }
  }

  .contacts__item {
    display: none;
    background-image: url("../img/contracts-bg.png");
    background-repeat: no-repeat;
    width: 792px;
    min-height: 490px;
    margin-top: 190px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;

    @media (min-width: 1170px) {
      display: block;
    }
  }

  .contacts__item-mobile {
    background-image: url("../img/contracts-bg-mobile.png");
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    min-height: 650px;
    width: 100%;
    max-width: 323px;

    @media (max-width: 360px) {
      background-image: url("../img/contracts-bg-mobile2.png");
    }

    @media (min-width: 1170px) {
      display: none;
    }
  }

  .contacts-info {
    padding-top: 45px;

    @media (min-width: 1170px) {
      padding-top: 50px;
    }

    h3,
    h4 {
      font-size: 24px;
      text-align: center;
      margin: 0;
      margin-bottom: 20px;
      color: white;

      @media (min-width: 1170px) {
        font-size: 36px;
      }
    }

    h3 {
      margin-top: 0px;

      @media (min-width: 1170px) {
        margin-top: 50px;
      }
    }

    h4 {
      font-size: 18px;

      @media (min-width: 1170x) {
        font-size: 24px;
      }
    }
  }

  .phone-email {
    display: flex;
    margin-top: 370px;
    padding-right: 20px;
    padding-left: 20px;
    flex-direction: column;
    align-items: center;

    @media (max-width: 360px) {
      margin-top: 260px;
    }

    @media (min-width: 1170px) {
      justify-content: space-between;
      flex-direction: row;
      margin-top: 140px;
    }

    a {
      color: white;
      font-size: 18px;
      font-weight: bold;

      @media (min-width: 1170px) {
        font-size: 24px;
      }
    }

    .contact-email {
      margin-top: 30px;

      @media (min-width: 1170px) {
        margin-top: 0px;
      }

      a {
        display: block;
        margin-bottom: 10px;
      }
    }
  }
}