/* footer */

.main-footer {
  background-color: black;
  min-height: 240px;
  padding-top: 15px;

  .footer {
    min-height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .copyrigh {
    color: #d9dbe1;
    font-size: 14px;
    margin-bottom: 20px;
    align-self: flex-end;
  }

  .footer-links {
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      display: block;
      padding: 0;
      padding-top: 3px;
      border-radius: 10px;
      transition: 0.5s;

      &:hover {
        transition: 0.5s;
        transform: scale(1.2);
      }

      &:active path {
        fill: #19965f;
      }
    }
  }
}