/* footer */

.main-footer {
  background-color: black;
  min-height: 240px;
  padding-top: 35px;

  @media (min-width: 1170px) {
    padding-top: 15px;
  }

  .footer {
    min-height: 225px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    @media (min-width: 1170px) {
      flex-direction: row;
    }
  }

  .data-footer {
    display: none;
    flex-direction: column;
    color: #d9dbe1;
    font-size: 14px;
    line-height: 24px;

    @media (min-width: 1170px) {
      display: flex;
    }


    .official-site {
      display: flex;
      margin-bottom: 5px;

      a:nth-child(2) {
        margin: 0;
        padding: 0;
        padding-top: 20px;
        color: #d9dbe1;
      }
    }

    .requisites {
      padding-left: 72px;
      margin-bottom: 20px;
    }

    .copyrigh {
      padding-left: 72px;

      margin-bottom: 10px;

      @media (min-width: 1170px) {
        display: block;
      }
    }

  }

  .footer-links {
    width: 200px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width: 600px) {
      width: 420px;
      flex-wrap: nowrap;
    }

    a {
      display: block;
      padding: 0;
      padding-top: 3px;
      border-radius: 10px;
      transition: 0.5s;
      margin-bottom: 25px;

      @media (min-width: 1170px) {
        margin-bottom: 0px;
      }


      &:hover {
        @media (min-width: 1170px) {
          transition: 0.5s;
          transform: scale(1.2);
        }
      }

      &:active path {
        fill: #19965f;
      }
    }
  }
}