.main-header {
    width: 100%;

    @media (min-width: 1170px) {
        width: 1440px;
        margin: 0 auto;
        position: relative;
    }

    .big-circle {
        width: 174px;
        top: 110px;
        left: 60%;
        position: absolute;
        filter: blur(25px);
        opacity: 0.4;

        @media (min-width: 1170px) {
            width: auto;
            top: 220px;
            left: auto;
            right: 10px;
        }
    }

    .small-circle {
        width: 73px;
        top: 270px;
        left: 40%;
        position: absolute;
        filter: blur(25px);
        opacity: 0.4;

        @media (min-width: 1170px) {
            width: auto;
            left: auto;
            top: 640px;
            right: 500px;
        }
    }

    .main-logo {
        width: 100%;
        margin-bottom: 0px;
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (min-width: 1170px) {
            width: 720px;
            margin-bottom: 20px;
        }


        img {
            width: 79px;

            @media (min-width: 1170px) {
                width: auto;
            }
        }

        .main-nav__mobile-open {
            display: block;
            border: none;
            background-color: white;
            margin-left: 5px;

            @media (min-width: 1170px) {
                display: none;
            }

            img {
                width: 16px;
            }
        }
    }

    .main-logo .phone-number {
        font-size: 10px;
        font-weight: bold;
        margin-right: 10px;

        @media (min-width: 1170px) {
            font-size: 20px;

        }
    }

    .main-nav {
        display: none;
        background-color: lightgrey;
        align-items: flex-start;
        flex-direction: column;

        @media (min-width: 1170px) {
            background-color: white;
            flex-direction: row;
            align-items: center;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        a {
            display: block;
            padding: 2px 2px 2px 2px;
            font-weight: bold;
            transition: all 0.15s ease-in-out;

            &:first-child {
                padding-left: 0px;
            }

            &:last-child {
                padding-right: 0px;
            }

            &:hover {
                color: darkgreen;
            }

            &:active {
                color: #2da771;
            }
        }

        &__mobile-open {
            display: none;
        }
    }

    .main-contract {
        padding-top: 100px;
        padding-left: 25px;
        padding-bottom: 100px;

        @media (min-width: 1170px) {
            padding-top: 160px;
            padding-bottom: 200px;

        }

        h1 {
            display: block;
            font-size: 24px;
            width: 310px;
            line-height: 33px;
            margin-bottom: 30px;

            @media (min-width: 1170px) {
                display: block;
                width: 750px;
                font-size: 72px;
                line-height: 100px;
            }
        }
    }
}