/* modal */

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
  display: none;
}

.overlay--open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-blocker {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
}

.body-wrapper--blurred {
  filter: blur(10px);
  transition: all 0.5s ease-in-out;
}

.modal-content {
  display: none;
  width: 314px;
  padding: 20px 58px;
  color: #000000;
  background: white;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  position: relative;

  @media (min-width: 1170px) {
    width: 520px;
    padding: 30px 80px;
    border-radius: 40px;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.modal-content-show {
  display: block;
  animation: bounce 0.5s;
}

.modal-content-close {
  position: absolute;
  top: -5px;
  right: -26px;
  width: 25px;
  height: 25px;
  font-size: 0px;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;
  width: 23px;
  height: 3px;
  background-color: #ed2939;
  border-radius: 1px;
  display: none;

  @media (min-width: 1170px) {
    display: block;
  }
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  width: 200px;
  margin: 0;
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #5f5f5f;

  @media (min-width: 1170px) {
    width: auto;
    font-size: 24px;
    line-height: 42px;
    margin-bottom: 45px;
  }
}

.modal-content .form-user {
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
}

.modal-content .small-circle {
  width: 150px;
  display: block;
  position: absolute;
  top: 40px;
  right: 20px;
  filter: blur(22px);
  opacity: 0.5;

  @media (min-width: 1170px) {
    width: auto;
    top: 60px;
    right: 30px;
  }
}

.form-user input[type="email"],
.form-user input[type="tel"] {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 10px 15px;
  padding-right: 40px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: white;
  border: 1px solid grey;
  outline: none;
  border-radius: 8px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);

  @media (min-width: 1170px) {
    padding: 15px 20px;
    border-radius: 15px;
  }
}

.form-user input::placeholder {
  opacity: 0.4;
  font-weight: bold;
  font-size: 14px;

  @media (min-width: 1170px) {
    font-size: 20px;
  }
}

.form-user input[type="email"]:focus,
.form-user input[type="tel"]:focus {
  border: 1px solid darkgreen;
}

.btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 0px;

  @media (min-width: 1170px) {
    margin-top: 15px;
  }
}