.main-header {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.main-header .big-circle {
  position: absolute;
  filter: blur(25px);
  opacity: 0.4;
  top: 220px;
  right: 10px;
}

.main-header .small-circle {
  position: absolute;
  filter: blur(25px);
  opacity: 0.4;
  top: 640px;
  right: 500px;
}

.main-logo {
  width: 720px;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-logo .phone-number {
  margin-right: 0px;
  font-size: 20px;
  font-weight: bold;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-nav__mobile-open {
  display: none;
}

.main-nav a {
  display: block;
  padding: 2px 2px 2px 2px;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
}

.main-nav a:first-child {
  padding-left: 0px;
}

.main-nav a:last-child {
  padding-right: 0px;
}

.main-nav a:hover {
  color: darkgreen;
}

.main-nav a:active {
  color: #2da771;
}

.main-contract {
  padding-top: 160px;
  padding-bottom: 200px;
}

.main-contract h1 {
  display: block;
  width: 750px;
  font-size: 72px;
  line-height: 100px;
}

.form-user input[type="email"],
.form-user input[type="tel"] {
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
  padding: 15px 20px;
  padding-right: 40px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: white;
  border: 2px solid grey;
  outline: none;
  border-radius: 15px;
  box-shadow: 3px 3px 8px 1px rgba(0, 0, 0, 0.4);
}

.form-user input::placeholder {
  opacity: 0.4;
  font-weight: bold;
}

.form-user input[type="email"]:focus,
.form-user input[type="tel"]:focus {
  border: 2px solid darkgreen;
}

.btn-send {
  display: block;
  margin: 0 auto;
  margin-top: 15px;
}

@media (max-width: 480px) {
  .container-bg {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-logo {
    width: 100%;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0px;
  }

  .cdek-logo img {
    width: 79px;
  }

  .main-logo .phone-number {
    font-size: 10px;
  }

  .main-nav__mobile {
    display: none;
  }

  .main-nav__mobile-open {
    display: block;
    border: none;
    background-color: white;
    margin-left: 5px;
  }

  .main-nav {
    background-color: lightgrey;
    align-items: flex-start;
    flex-direction: column;
  }

  .main-contract {
    padding-top: 100px;
    padding-left: 25px;
  }

  .main-contract h1 {
    font-size: 28px;
    width: 310px;
    line-height: 33px;
    margin-bottom: 30px;
  }

  .main-contract .btn {
    height: auto;
    width: 136px;
    font-size: 12px;
    padding: 12px 0px;
  }

  .main-header {
    width: 480px;
  }

  .main-header .big-circle {
    width: 174px;
    top: 110px;
    left: 210px;
  }

  .main-header .small-circle {
    width: 73px;
    top: 260px;
    left: 110px;
  }
}
